package provider

// Please write the tests for the resource manually, as typical tests set is yet to be established later.
// While migrating to the new framework, the existing tests will be reviewed and updated,
// and the skaffolded examples will be added here.
