---
title: "{{.Name}}"
categorySlug: "scalr-terraform-provider"
slug: "provider_datasource_{{.Name}}"
parentDocSlug: "provider_datasources"
hidden: false
---
## {{.Type}} Overview

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
