---
title: "Scalr Terraform Provider"
excerpt: "The Scalr provider is used to interact with the many resources supported by Scalr."
category: "6380b9efad50240652eec1fc"
layout: "scalr"
page_title: "Provider: Scalr"
sidebar_current: "docs-scalr-index"
description: |-
  The Scalr provider is used to interact with the many resources supported by Scalr. The provider needs to be configured with the proper credentials before it can be used.
---

# Scalr Provider

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
