---
title: {{.Name}}
slug: provider_resource_{{.Name}}
category:
  uri: scalr-terraform-provider
parent:
  uri: provider_resources
privacy:
  view: public
---
## {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile}}
{{- end }}
