---
title: "{{.Name}}"
category: "6380b9efad50240652eec1fc"
slug: "provider_resource_{{.Name}}"
parentDocSlug: "provider_resources"
hidden: false
---
## {{.Type}} Overview

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile}}
{{- end }}
