---
title: "{{.Name}}"
category: "6380b9efad50240652eec1fc"
slug: "provider_datasource_{{.Name}}"
parentDocSlug: "provider_datasources"
hidden: false
---
## {{.Type}} Overview

{{ .Description | trimspace }}

> 🚧 This datasource is deprecated and will be removed in the next major version.

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
