name: Default Release

on:
  create:

jobs:
  upload-dev:
    name: upload-dev
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Import GPG key
        id: import_gpg
        uses: Scalr/ghaction-import-gpg@v2.1.1
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - name: Create Development Tag
        run: |
          BRANCH=${{ github.head_ref || github.ref_name }}
          CLEAN_BRANCH=$(echo "$BRANCH" | sed 's/[\/]/-/g')
          git tag v1.0.0-rc-$CLEAN_BRANCH
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: '.go-version'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --skip=publish
        env:
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
      - name: Upload Provider to Registry
        uses: ./.github/actions/upload-provider
        with:
          gcs-bucket: ${{ vars.DEV_BUCKET }}
          registry-domain: ${{ vars.DEV_DOMAIN }}
          gpg-key-id: ${{ steps.import_gpg.outputs.fingerprint }}
          gpg-pub-key: ${{ steps.import_gpg.outputs.pubkey }}
      - name: Update Network Mirror
        uses: ./.github/actions/update-network-mirror
        with:
          gcs-bucket: ${{ vars.DEV_BUCKET }}
          registry-domain: ${{ vars.DEV_DOMAIN }}
          dry-run: false
