name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

env:
  RDME_VERSION: 0.0.5

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Import GPG Key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Set Up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: '.go-version'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
      - name: Upload Provider to Registry
        uses: ./.github/actions/upload-provider
        with:
          gcs-bucket: ${{ vars.PROD_BUCKET }}
          registry-domain: ${{ vars.PROD_DOMAIN }}
          gpg-key-id: ${{ steps.import_gpg.outputs.fingerprint }}
          gpg-pub-key: ${{ steps.import_gpg.outputs.pubkey }}
      - name: Update network mirror
        uses: ./.github/actions/update-network-mirror
        with:
          gcs-bucket: ${{ vars.PROD_BUCKET }}
          registry-domain: ${{ vars.PROD_DOMAIN }}
          dry-run: false

  docs-publish:
    name: Publish Docs
    needs: [ release ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Publish
        uses: readmeio/rdme@v10
        with:
          rdme: docs upload ./docs --key=${{ secrets.README_API_KEY }} --branch=${{ env.RDME_VERSION }}

  e2e-tests:
    name: Trigger e2e tests
    needs: [ release ]
    runs-on: ubuntu-latest
    steps:
      - name: Sudo GitHub Token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{vars.SUDO_GHA_APP_ID}}
          installation_id: ${{vars.SUDO_GHA_APP_INSTALLATION_ID}}
          private_key: ${{secrets.SUDO_GHA_APP_PRIVATE_KEY}}
      - uses: actions/github-script@v7
        with:
          github-token: ${{steps.generate_token.outputs.token}}
          script: |
            const tag = '${{ github.ref_name }}';
            const providerVersion = `provider/${tag.replace(/^v/, '')}`;

            await github.rest.actions.createWorkflowDispatch({
              owner: 'Scalr',
              repo: 'fatmouse',
              workflow_id: 'e2e-provider-release.yml',
              ref: 'master',
              inputs: {
                version: providerVersion
              }
            })
